<app-toolbar
  class="{{ isToolbar ? '' : 'hidden' }}"
  [isPost]="true"
></app-toolbar>

<div class="main">
  <div class="nav">
    <button mat-button class="logo-button" (click)="goToHome()">
      <div class="image-container">
        <img src="{{ logo }}" alt="BitDegree" class="logo" />
      </div>
    </button>
  </div>

  <div class="text">
    <div class="d1 secondary-font primary">Find a Galaxy Full of</div>
    <div class="d2 secondary">WONDERFUL BLOGS</div>
    <div class="text-button-container">
      <button class="text-button s1" mat-flat-button (click)="scroll()">
        READ
      </button>
    </div>
  </div>
</div>
