<div class="user-information-panel">
    <div class="d-flex justify-content-center">
        <div>
            <i class="bi bi-person-circle user-icon"></i>
        </div>
    </div>
    <div class="d-flex justify-content-around">
        <div>
            <p class="user-information-panel-info-header">Personel:</p>
            <p [innerText]="'Name: ' + user.name"></p>
            <p [innerText]="'Email: ' + user.email"></p>
            <p [innerText]="'Username: ' + user.username"></p>
            <p [innerText]="'Phone: ' + user.phone"></p>
            <p [innerText]="'Website: ' + user.website"></p>
        </div>
        <div>
            <p class="user-information-panel-info-header">Address:</p>
            <p [innerText]="'Street: ' + user.address.street"></p>
            <p [innerText]="'Suite: ' + user.address.suite"></p>
            <p [innerText]="'City: ' + user.address.city"></p>
            <p [innerText]="'Zipcode: ' + user.address.zipcode"></p>
        </div>
        <div>
            <p class="user-information-panel-info-header">Company:</p>
            <p [innerText]="'Name: ' + user.company.name"></p>
            <p [innerText]="'Catch Prase: ' + user.company.catchPhrase"></p>
            <p [innerText]="'BS: ' + user.company.bs"></p>
        </div>
    </div>
</div>