<div class="card">
    <div class="blog-post-comment-card">
        <div class="blog-post-comment-card-header d-flex justify-content-start" (click)="bodyToggleClick()">
            <i [class]="!bodyToggle ? bodyToggleOff : bodyToggleOn"></i>
            <p class="ml-auto" style="padding-left: 1%;" [innerText]="comment.name"></p>
        </div>
        <div class="blog-post-comment-card-email" (click)="bodyToggleClick()">
            <p [innerText]="comment.email"></p>
        </div>
        <div class="blog-post-comment-card-body" *ngIf="bodyToggle" [@commentBodyToggle]>
            <p [innerText]="comment.body"></p>
        </div>
    </div>
</div>