.login {
    width: 30%;
}

.demo-text{
    color:grey;
    font-size: small;
}


  .login-panel {
      height: 200px;
      justify-content: space-evenly;
  }

  .login-panel .actions {
      width: 100%;
  }