.login {
    width: 50%;
}

.demo-text{
    color:grey;
    font-size: small;
}

.alert{
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
  }


  .login-panel {
      height: 200px;
      justify-content: space-evenly;
  }

  .login-panel .actions {
      width: 100%;
  }