//Light theme
$light-primary-color: #05177a;
$light-text-color: #05177a;
$light-page-color: #ffffff;

//Dark theme
$dark-primary-color: #ffffff;
$dark-text-color: #ffffff;
$dark-page-color: #020931;

$text-color: #C4C4C4;
$text-monochrome: #978d10;