/* You can add global styles to this file, and also import other style files */
@import "layout.scss";
@import "bootstrap.scss";
@import "theme.scss";

@font-face {
  font-family: "Trueno";
  src: url("./assets/fonts/Trueno/Trueno.ttf") format("truetype");
}

$enable-negative-margins: true;

html {
  height: 100%;
}

body {
  font-family: "Trueno";
  padding: 0;
  margin: 0;
  font-size: 0.875em;
  &.dark-theme {
    background-color: $dark-page-color !important;
    color: $dark-text-color !important;
    header {
      background-color: $dark-page-color;
    }
  }
  &.light-theme {
    background-color: $light-page-color !important;
    color: $light-text-color !important;
    header {
      background-color: $light-page-color;
    }
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

a {
  text-decoration: none;
  color: currentColor;
}

//UTILITIES//
.text-color {
  color: $text-color;
}
.text-mono {
  color: $text-monochrome;
}

.pill-button {
  border-radius: 30px !important;
}
///

