.blog-post-writer-info-box-author{
    display: flex;
    vertical-align: middle;
}

.blog-post-writer-info-box-name{
    text-transform: capitalize;
}

.blog-post-writer-info-email{
    font-size: small;
    color: grey;
    vertical-align: text-top;
}

.blog-post-writer-info-website{
    font-size: small;
}

.blog-post-writer-info-website:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-post-writer-info-box-author:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-post-writer-info-box{
    text-align: center;
    border: 1px solid grey;
    border-radius: 20%;
    box-shadow: 10px 10px 10px 10px #ddd;
}


.writer-icon{
    display: block;
    padding-left: 15%;
    padding-top: 10%;
}