.blog-post-writer-info-box-author{
    text-align: center;
    padding: 10%;
}

.blog-post-writer-info-box-name{
    text-transform: capitalize;
}

.blog-post-writer-info-email{
    font-size: small;
    color: grey;
    vertical-align: text-top;
}

.blog-post-writer-info-website{
    font-size: small;
}

.blog-post-writer-info-website:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-post-writer-info-box-author:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog-post-writer-info-box{
    display: block;
    text-align: center;
    border: 1px solid grey;
    border-radius: 20%;
    box-shadow: 5px 5px 5px  #ddd;
}


.writer-icon{
    display: block;
    padding-top: 10%;
}