@import "theme.scss";
@import "layout.scss";

.image-placeholder {
  height: 20vh;
  width: 100%;
}

.img-bg {
  height: 50px;
  width: 50px;
  min-width: 50px;
  @at-root {
    .img-bg,
    .image-placeholder {
      background-color: $text-color;
    }
  }
}

.pill-button {
  position: sticky !important;
  top: 1rem;
  z-index: 1500;
}

@media only screen and (min-width: $layout-breakpoint-large) {
  .image-placeholder {
    height: 250px;
  }
} ;
