.user-icon{
    margin-top: 8%;
    font-size: 500%;
}

.user-information-panel{
    margin-top: 8%;
}


.user-information-panel-info-header{
    font-weight: bold;
    text-decoration: underline;
    font-size: x-large;
}

.user-information-panel-latest-post-header{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 5%;
    margin-bottom: 5%;
    border-bottom: 1px solid black;
}