<div class="container" style="width: 50%;" *ngIf="User">
    <div class="user-information-panel">
            <i class="bi bi-person-circle user-icon"></i>
            <p class="user-information-panel-info-header">Personel:</p>
            <p [innerText]="'Name: ' + User.name"></p>
            <p [innerText]="'Email: ' + User.email"></p>
            <p [innerText]="'Username: ' + User.username"></p>
            <p [innerText]="'Phone: ' + User.phone"></p>
            <p [innerText]="'Website: ' + User.website"></p>
            <p class="user-information-panel-info-header">Address:</p>
            <p [innerText]="'Street: ' + User.address.street"></p>
            <p [innerText]="'Suite: ' + User.address.suite"></p>
            <p [innerText]="'City: ' + User.address.city"></p>
            <p [innerText]="'Zipcode: ' + User.address.zipcode"></p>
            <p class="user-information-panel-info-header">Company:</p>
            <p [innerText]="'Name: ' + User.company.name"></p>
            <p [innerText]="'Catch Prase: ' + User.company.catchPhrase"></p>
            <p [innerText]="'BS: ' + User.company.bs"></p>
    </div>

    <p class="user-information-panel-latest-post-header">Latest Posts</p>
    <div *ngFor="let item of UserPosts">
        <app-latest-post [Post]="item" ></app-latest-post>
    </div>
</div>