.post-header{
    font-size: large;
    font-weight: bold;
    transition: width 2s;
    cursor: pointer;
    text-transform: capitalize;
}


.post-body {
    height: 20px;
    overflow: hidden;
}

.post-body p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.post {
    border-style: solid;
    border-width: thin;
    margin:2%;
    padding: 2%;
    background-color: inherit;
}

.author{
    text-transform: capitalize;
    font-size: larger;
}

::ng-deep .post-toggle:hover{
    cursor: pointer;
}

::ng-deep .post:hover{
    box-shadow: 0px 0px 5px  #ddd;
}


::ng-deep .post-header:hover{
    text-decoration: underline;
}

::ng-deep .author:hover {
    text-decoration: underline;
    cursor: pointer;
}



