.blog-post{
    margin-top: 5%;
    width: 50%;
}

@media (max-width: 999px) {
    .blog-post {
        width: 80%;
    }
}

#infoBox{
    position: fixed;
    left : 10%;
    bottom: 65%;
}

.alert{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.to-edit-page{
font-size: xx-large;
}

.to-edit-page:hover{
    cursor: pointer;
}