<div class="container blog-post">
    <div *ngIf="post" class="d-flex justify-content-end">
        <i class="bi bi-pencil-square to-edit-page" title="Edit this post" (click)="editClicked()"></i>
    </div>
    <app-writer-header *ngIf="user" [user]="user"></app-writer-header>
    <app-post-body *ngIf="post" [post]="post"></app-post-body>
    <app-comment-body *ngIf="comments" [comments]="comments"></app-comment-body>
    <app-comment-form *ngIf="post" [postID]="post.id" (commentSubmitted)="commentSubmitted($event)"></app-comment-form>
</div>
<app-writer-info-box id='infoBox' *ngIf="user" [user]="user"></app-writer-info-box>
<app-alert class="alert" [alertType]="alertType" [alertMessage]="alertMessage" [displayTime]="displayTime"></app-alert>